.Heading{
  /* background-color: rgb(219, 203, 235); */
  background-color: #41303e;
  height: 120px;
  place-content: center;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: clamp(25px, 4vw, 40px);
}

